.message-field {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    padding: 30px;
    margin: 20px;
    overflow-y: scroll;
}

.layout-msg-field {
    border: 1px solid #eda410;
    border-right: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: white;
    width: 100%;
    margin: auto 0;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input hr {
    border-top: none rgb(224, 224, 224); 
    border-left: none rgb(224, 224, 224); 
    border-right: none rgb(224, 224, 224); 
    border-bottom: 1px solid rgb(247,204,114,0.24);
    transition: height 200ms cubic-bezier(47,204,114,0.24) 0ms;
}
 /* .send-btn {
     display: block !important;
 } */