.MsgField {
   display: flex;
   flex-direction: column;
   background-color: #e2e2e2;
   height: 450px;
   width: 100%;
   padding: 20px;
   margin-bottom: 5px;
   overflow-y: scroll;
}

.layout {
   width: 75%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.sendBtn {
   border: 0;
   border-radius: 50%;
   width: 46.65px;
   height: 45px;
}

.sendBtn:hover {
   box-shadow: 0px 2px 5px 0px currentColor;
}

.controls {
   width: 100%;
}