.messageField {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    height: 80%;
    overflow-y: scroll;
}

.controls {
    margin: 7px auto 0 0;
    height: 15%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.controls > input {
    border: 1px solid gray;;
    height: 100%;
    font-size: 18px;
    border-radius: 5px;
    width: 80%;
    outline: none;
    padding-left: 8px;
    box-sizing: border-box;
    margin-right: 5%;
}

.controls > input:hover {
    border: 2px solid #2948AB;
}

.controls > input:active {
    border: 2px solid #2948AB;
    background-color: lightgray;
}

.controls > .send {
    width: 15%;
    height: 100%;
    font-size: 18px;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
}

.controls > .send:hover {
    background-color: lightgray;
    border: 2px solid #2948AB;
}

.controls > .send:active {
    background-color: gray;
    border: 2px solid #2948AB;
}