.msg {
    background: linear-gradient(to top right, #579179, #c4eee4);
    padding: 5px 15px;
    border-radius: 15px 0px 15px 0;
    box-sizing: border-box;
    font-size: 18px;
    margin: 5px;
    font-style: italic;
    
}

.msg-sender {
    color: rgb(6, 75, 23);
    font-size: 14px;
}
