.msg {
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
}

.msg-bot {
    align-self: flex-start;
    background-color: lightgreen;
}

.msg-person {
    align-self: flex-end;
    background-color: lightblue;
}
