.chat {
    margin: 0 0 10px 0;
    width: 200px;
}

.chat::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3f51b5;
}

.chatName{
    font-size: 16px;
    font-weight: 600;
}
.chatMsgs{
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    text-align: end;
}