
input[type=text] {
    
    padding: 12px 15px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
input[type=text]:hover {
    border: 2px solid#70b185;
}
input[type=text]:focus {
    background-color: rgb(207, 221, 226);
}
.send_Btn{
    width: 100%;
    outline: none;
    background-color: rgb(220, 220, 220);
    font-family: cursive, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    color: #026322;
    
}
.send_Btn:hover{
    background-color:rgb(207, 221, 226);
    outline: none;
  
}
.send_Btn:active{
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
