.layout {
    height: 100%;
    width: auto;
    margin: auto;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
 }

 .message-field{
    margin: auto;
    height: 90%;
    border: 2px solid black;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow-y: scroll;
 }

 .button-wrap {
    width: 100%;
    display: flex;
 }
 