body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1  {
    font-size: 60px;
}

button {
    min-height: 70px;
    width: 150px;
    border-radius: 5px;
    background-color: orange;
}

.messages {
    min-height: 70px;
    width: 100%;
    border: 1px dotted black;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

span {
    margin: 0 20px;
}