.msg {
   background-color: rgba(247,204,114,0.24);
   padding: 5px 20px;
   border-radius: 20px;
   font-size: 14px;
   margin: 10px;
   align-self: flex-start;
}

.message-text {
   margin-bottom: 0;
   font-weight: 600;
   color: rgb(66, 37, 37);
}

.message-sender {
   color: rgb(184, 169, 169);
   font-size: 10px;
   font-style: italic;
   padding-left: 100px;
} 

.me {
   align-self: flex-end;
   background-color: cyan;
}