.layout {
}

.layout-wrp {
    width: 100%;
    height: 100%;
    display: flex;
}

.chatList-wrp {
    display: flex;
    flex-basis: 30%;
}

.messageField-wrp {
    display: flex;
    flex-basis: 70%;
    background-color: mediumturquoise;
    flex-direction: column;
    height: 50%;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
}