.layout-wrp {
    width: 100%;
    height: auto;
    display: flex;
}

.chatList-wrp {
    display: flex;
    flex-basis: 30%;
}

.messageField-wrp {
    display: block;
    flex-basis: 70%;
    background-color: mediumturquoise;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 20px;
}