* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f1f0f0;
}

.wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    flex: 0 1 100%;
}
.header {
    background-color: brown;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.content__chatList {
    width: 30%;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.content__messageField {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:70%;
    margin: 10px;
}

.messages{
    display: flex;
    flex-direction: column;
    background-color: white;
    height:250px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.messageItem {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    animation: showMessage 0.5s linear;
}

@keyframes showMessage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.addMessage {
    display: flex;
    align-items: center;
    width: 80%;
}

.addMessage input {
    resize: none;
    width: inherit;
    height: 50px;
    margin-bottom: 10px;
    border:1px solid black;
    border-radius: 5px
}

.addMessage button{
    width: 25%;
    border:1px solid black;
    border-radius: 5px;
}