.msg {
    min-width: 250px;
    min-height: 70px;
    background-color: #e0cdc1;
    margin: 10px 0;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 15px 15px 15px 0;
    border:3px solid #663068;
}

.msgName {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #26054d;
    border-radius: 25px;
}

.msgText {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
}