.msg {
    background-color: rgb(116, 118, 119);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
}

.msg-sender {
    color: rgb(240, 219, 219);
    font-size: 14px;
}