.messageField {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(205, 209, 236);
    border-radius: 25px;
    background-color: #efefef;
    padding: 40px 15px;
    box-shadow: 0px 3px 16px -8px rgba(0, 0, 0, 0.9);
    margin-top: 30px;
}

.controls {
    margin-top: 35px;
    width: 100%;
}

.input-message {
    max-width: 80%;
    margin-right: 40px;
}
